.list-group {
  max-height: calc(100vh - 75px);
  overflow: auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  max-width: 500px;
  .list-group-item {
    border-left: none;
    border-right: none;
    &:first-of-type {
      border-top: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}


@media (max-width: 575px) {
  .list-group {
      max-height: calc(100vh - 190px);
  }
}